<phpunit bootstrap="tests/phpunit/bootstrap.php" backupGlobals="false"
         colors="false" convertErrorsToExceptions="true"
         convertNoticesToExceptions="true" convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="unit">
            <directory prefix="test-" suffix=".php">./tests/phpunit/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
